image: golang:1.13

stages:
  - build
  - test
  - deploy
  - deploy-dry

build:
  stage: build
  script:
    - make build

test:
  stage: test
  script:
    - make test

deploy-dry:
  stage: deploy-dry
  services:
    - docker:19.03.0-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: "/certs"
  script:
    - curl -sL https://git.io/goreleaser | bash
    - goreleaser GITHUB_TOKEN="$GITHUB_GORELEASER" --snapshot --skip-publish --rm-dist
  tags:
    - docker

deploy:
  stage: deploy
  services:
    - docker:19.03.0-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: "/certs"
  only:
    refs:
      - tags
  script:
    - curl -sL https://git.io/goreleaser | bash
    - echo "github token $GITHUB_GORELEASER"
    - GITHUB_TOKEN="$GITHUB_GORELEASER" goreleaser --rm-dist
    - export VERSION=$(cat ./VERSION)
    - docker login -u $DOCKER_USER -p $DOCKER_PASS
    - docker build -t pococknick91/recs-api:$VERSION .
    - docker tag pococknick91/recs-api:$VERSION pococknick91/recs-api:latest
    - echo "=> Pushing pococknick91/recs-api:$VERSION to docker"
    - docker push pococknick91/recs-api
  tags:
    - docker