image: golang:1.13

stages:
  - build
  - test
  - deploy

build:
  stage: build
  script:
    - make build

test:
  stage: test
  script:
    - make test

deploy:
  image: docker:latest
  stage: deploy
  script:
    - apk update
    - apk add make
  tags:
    - docker