image: golang:1.13

stages:
  - build
  - test
  - deploy

build:
  stage: build
  script:
    - make build

test:
  stage: test
  script:
    - make test

deploy:
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: "/certs"
  services:
    - docker:19.03.0-dind
  stage: deploy
  script:
    - GITHUB_TOKEN=${GITHUB_GORELEASER} goreleaser
    - export VERSION=$(cat ./VERSION)
    - docker login -u $DOCKER_USER -p $DOCKER_PASS
    - docker build -t pococknick91/recs-api:$VERSION .
    - docker tag pococknick91/recs-api:$VERSION pococknick91/recs-api:latest
    - echo "=> Pushing pococknick91/recs-api:$VERSION to docker"
    - docker push pococknick91/recs-api
  tags:
    - docker