image: golang:1.13

stages:
  - build
  - test
  - deploy

build:
  stage: build
  script:
    # Compile and name the binary as `hello`
    - go build -o recs-api

test:
  stage: test
  script:
    - make test

deploy:
  image: docker:stable
  stage: deploy
  services:
    - docker:19.03.0-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: "/certs"
  artifacts:
    paths:
      - ./recs-api
#  only:
#    refs:
#      - tags
  script:
    - export GITHUB_TOKEN="$GITHUB_GORELEASER"
    - curl -sL https://git.io/goreleaser | bash
    - export VERSION=$(cat ./VERSION)
    - docker login -u $DOCKER_USER -p $DOCKER_PASS
    - docker build -t pococknick91/recs-api:$VERSION .
    - docker tag pococknick91/recs-api:$VERSION pococknick91/recs-api:latest
    - echo "=> Pushing pococknick91/recs-api:$VERSION to docker"
    - docker push pococknick91/recs-api
  tags:
    - docker